/*comment stylesheet*/
/*#0B2250*/
*{
    margin: 0;
    box-sizing: border-box;
}
body,html {
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
}
/*********** ALL DIVS *****************/

.header {
  background-image:url("header.jpg");
  background-position: center;
  width:100%;
  height: 10vw;
  position:absolute;
}

.container{
  margin-top: 10vw;
  width: 100vw;
  height:100%;
  margin: 0 auto;
  /*position: absolute;*/
  color:black;
}
.content{
  margin-top: 12vw;
}

.upperMenuSearch{
  background-color:#ededed;
  width:74vw;
  /*height:50vh;*/
  margin: 0 auto;
  margin-top: 1vh;
  border-radius: 15px;
  border: 0.5px solid #a3a3a3;
  margin-bottom: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow: auto;
  display: table;
}

.allSearchForm{
  /*height:200px;*/
  min-height: 200px;
  width: 100%;
  /*display: block;*/
  background-color: #ededed;
  margin: 0 auto;
  vertical-align: middle;
}

#advDiv{
  display: none;
  position:absolute;
  width:100%;
  height:500px;
  bottom:0;
  background-color: red;
  margin: 0 auto;
  margin-top: 10px;
  overflow:auto;
  vertical-align: middle;
}

#myAdvBut{
  margin-bottom: 10px;
  bottom:60px;
  right:60px;
  position: absolute;
}
footer{
  width:100%;
  height:20px;
  background-color: black;
  margin-top: 30px;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
}

/******** ALL TEXTS AND HEADERS ***********/

h1 {
    font-family: 'Raleway', sans-serif;
    color:#F5F5F5;
    font-size: 8vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

h2{
  font-family: 'Raleway', sans-serif;
  color:black;
  text-align: center;

}

h5{
    font-family: 'Raleway', sans-serif;
    font-size: 2vh;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px dashed #ccc;
    margin: 1em 0;
    padding: 0;
}
/******** BUTTONS ***********/


.help-button{
  cursor: pointer;
  color:#F5F5F5;
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
  overflow: scroll;
  background-color: black;
}
.help-button:checked{
  background-color: white;
  color:black;
}
#myBtn {
  height: 50px;
  width: 50px;
  font-size: 40px;
  opacity: 0.8;
  background-color: white;
  position: fixed;
  bottom: 30px;
  z-index: 99;
  right: 30px;
  cursor: pointer;
  display: none;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myNavBtn{
  height: 50px;
  width: 50px;
  position: fixed;
  /*z-index: 99;*/
  left:2px;
  top: 10vw;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: 0.5s;
  font-size: 30px;
  text-shadow: 2px 2px 8px #6b6b6b;
}

.button{
  cursor:pointer;
  text-align: center;
  height: 3vh;
  width: 10vw;
  margin-top:1vh;
  margin-bottom: 1vh;
}
.buttonSearch{
  background-color: #0B2250;

  color:#F5F5F5;
  border-radius: 2px;
  border:none;
  margin-top: 2.5vh;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%,-50%);

}
.buttonSearch:hover{
  background-color: #263f70;
}
.buttonClear{
  background-color: #e88b00;
  color:#F5F5F5;
  border-radius: 2px;
  border:none;
}
.buttonClear:hover{
  background-color: #eda539;
}

.buttonArchive{
  width:100%;
  height:4vh;
  background-color: white;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #a3a3a3;
}
.buttonArchive:hover{
  width:100%;
  height:4vh;
  background-color: grey;
}

#myAdvBut{
  bottom:10px;
  right:10px;
  position: absolute;
}
#turnaround{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}
/******** STYLE THE INPUT FORM ***********/
input[type=search] {
  border: 1px solid #a3a3a3;
  height: 6vh;
  width:  70%;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding-left: 0.2vw;
  margin-bottom: 1vh;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
}
::placeholder{
  margin-left: 10vw;
}

select{
  height: 3vh;
  width: 20vw;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: white;
}
/******** STYLE LIST ***********/
ul{
  list-style-type: none;
  display: none;
  font-size: 2vh;
  font-family: arial;
}

li{
  height:30px;
  width:100%;

}

/******** STYLE LINKS ***********/

a{
  color:#e88b00;
  text-decoration: none;
}
a:hover{
  text-decoration:underline;
}

/************ NAVBAR ************/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow: auto;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  font-family:  'Raleway', sans-serif;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  #myNavBtn{
    font-size: 15px;
    height:15px;
    width:15px;
  }

  #myBtn{
    height: 25px;
    width: 25px;
    font-size: 15px;
    opacity: 0.8;
  }

  .contentArchive{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;


  }
  ::placeholder{
    margin-left: 10vw;
    font-size: 1vh;
  }

  .helpcontainer{
    margin-top:10vw;
    margin-left:25px;
    margin-right: 25px;
  }

  .containerResult{
    margin-top: 12vw;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .help-button{
    font-size: 15px;
  }

  .resultHeading{
    font-size: 100%;
  }
}


#help-contact{
  display: block;
}

.tabsContain{
  display: flex;
  position: relative;
  background-color:#1abc9c;

  height: 50%;
}

.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}

.tab{
  width:100%;
  float: left;
}

.tab-switch{
  display: none;
}
.tab-label{
  position: relative;
  display: block;
  cursor: pointer;
  color:fff;
  position: relative;
  background:  #1abc9c;
  border-right: 0.125rem solid #16a085;
}

.tab-label:hover{
  transition: top 0.25s;
}

.tab-content{
  position: absolute;
  z-index: 1;
  transition: all 0.35s;
  opacity: 0;
  overflow: hidden;
  background: #fff;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}



  /********** RESULT SECTION STYLES ************/

  .resultDivContainer{
    width:100%;
    /*height:100px;*/
    display: flex;
    z-index: 99;

  }
  .resultDivHead{
    width: 50%;
    flex:none;
    vertical-align: middle;
    margin: 0 auto;
    float: left;
    padding-top: 3vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
    padding-right: 3vw;
    font-family:  'Raleway', sans-serif;

  }
  .resultDivPerson{
    flex:1;
  /*  height:100px;*/
    width: 50%;
    display:table;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .resultListLI{
    display: table-row;
    width:100%;
  }
  .resultListLI:nth-child(odd) {
    background-color: #dedede;

}

#tableIdResult{
  width: 100%;
}
#resultListOL{
  padding: 0;
  list-style-type: none;
  width:100%;
  display: table;
}

#number_of_hits_h5{
  text-align: center;
  margin-bottom: 1vh;
  font-size:(1vh+1vw);
}

#jsonfan{
  display: none;
}
th{
  font-family:'Raleway', sans-serif;
  font-size: 15px;
}
table {
    border-collapse: collapse;
}
tr {

  border-bottom:1pt solid grey;
}
td{
  font-family:'Raleway', sans-serif;
  font-style: medium;
  float: right;
  text-align: right;
  font-size: 10px;
  display: table-cell;
  width: 100%;
  margin-top:3px;
}



@media screen and (max-width: 400px) {

  #myNavBtn{
    font-size: 10px;
    height:10px;
    width:10px;
  }

  #myBtn{
    height: 15px;
    width: 15px;
    font-size: 5px;
    opacity: 0.8;
  }

  .contentArchive{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 12px;


  }
  ::placeholder{
    margin-left: 10vw;
    font-size: 1vh;
  }

  .helpcontainer{
    margin-top:10vw;
    margin-left:25px;
    margin-right: 25px;
  }

  .containerResult{
    margin-top: 12vw;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
  .help-button{
    font-size: 15px;
  }

  .resultHeading{
    font-size: 100%;
  }

  .resultDivHead{
    font-size:10px;
  }

  th{
    font-family:'Raleway', sans-serif;
    font-size: 10px;
  }
  td{
    font-family:'Raleway', sans-serif;
    font-style: medium;
    float: right;
    text-align: right;
    font-size: 8px;
    display: table-cell;
    width: 100%;
    margin-top:3px;
  }
}

/***************** PROFILE ***********************/

.personCont{
  background-color:#ededed;
  width:74vw;
  /*height:50vh;*/
  margin: 0 auto;
  margin-top: 1vh;
  border-radius: 15px;
  border: 0.5px solid #a3a3a3;
  margin-bottom: 10vh;
  vertical-align: middle;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
  overflow: auto;

}
